body {

    font-family: sans-serif;
    background-color:skyblue;
    color:cornflowerblue;
}


header,
#city-section,
#temp-section,
#sky-section {
    background-color: cornsilk;
    border-radius: 50px;
    border-style:groove;
    border-color: silver;
    padding:  40px;
    margin-bottom: 70px;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 40%;
}

#landscape-section {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

#increaseTempControl,
#decreaseTempControl {
    font-size: large;
}

#tempValue {
    font-size: 25pt;
    font-weight: bolder;
}

#temp-control {
    display: flex;

}

#cityName, .title {
    font-weight: bolder;
    font-size: x-large;
}

#emojis,
#emoji-sky{
    font-size: xx-large;
}

#cityButton,
#realTempButton {
    background-color: lightskyblue;
    border-radius: 50px;
}


.red {
    background-color: red;
}

.white {
    background-color: rgb(255, 255, 252);
}

.purple {
    background-color: rgb(93, 71, 218);
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.yellow {
    background-color: lightgoldenrodyellow;
}