body {
    font-family: sans-serif;
    background-color: lightskyblue;
    color: blueviolet;
}

header,
#city-section,
#temp-section,
#sky-section {
    background-color: cornsilk;
    border-radius: 50px;
    padding-block: 10px;
    text-align: center;
    border-style: dotted;
    border-color: blue;
}

#landscape-section {
    background-color: rgb(221, 235, 94);
    border-radius: 10px;
    padding-block: 10px;
    text-align: center;
    border-style: dotted;
    border-color: blue;
}

#increaseTempControl,
#decreaseTempControl {
    font-size: large;
}

#tempValue {
    font-size: 40pt;
}

#emojis,
#emojiSky {
    font-size: xx-large;
}

#cityButton,
#currentTempButton {
    background-color: lightskyblue;
    border-radius: 50px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow-green {
    color: yellowgreen;
}

.teal {
    color: turquoise;
}

.hot {
    background-color: yellow;
}

.perfect {
    background-color: gray;
}

.rainy {
    background-color: blue;
}

.snowy {
    background-color: rgb(9, 23, 41);
}